[defaults]
inventory = inventory.ini
roles_path = ./roles
host_key_checking = False
retry_files_enabled = False
timeout = 30
private_key_file = /home/ansible/.ssh/ansible-key
remote_user = ansible


[windows_zabbix:vars]
ansible_user=ansibleuser
ansible_password=MyStrongP@ssw0rd!
#ansible_password=Momentum123
ansible_connection=winrm
ansible_winrm_transport=basic
ansible_winrm_server_cert_validation=ignore
#ansible_winrm_scheme=https
ansible_port=5985
#ansible_shell_type=powershell
ansible_system=Windows
ansible_python_interpreter=auto_silent
#[zabbix_agents]
#zbx-agent-1 ansible_host=10.0.1.130
