# User and Group IDs for Grafana container
# Must Be The User ID to Run The Compose File
UID=1001
GID=1001

# Grafana Admin Credentials
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=XXXXXXXXXXXXX

# PostgreSQL Configuration (if required for Grafana plugins or data sources)
POSTGRES_USER=grafana
POSTGRES_PASSWORD=grafana_password
POSTGRES_DB=XXXXXXXXXXXXXXXX

# Docker Data Directory
DOCKERDIR=/home/tunde/grafana/data

# Domain for Traefik routing
DOMAINNAME=oxlava.me
